ul {
    margin: 0;
    padding: 0;
}

.card_body {
    background: #121924 url('../../images/profile/profile1.jpg') no-repeat;
}

.rubric-title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    /* font-weight: 800; */
}

button,
a {
    transition: .3s;
    cursor: pointer;
}

/* button {
    background-color: #0f0e7d;
} */

a {
    text-decoration: none;
    color: #cb541e;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
    min-height: 580px;
}

.logo {
    margin: 0;
    font-weight: 800;
    font-size: 3em;
    line-height: 1.2;
}

.logo span {
    display: block;
    padding: 0 0 0.6em 0.1em;
    font-weight: 300;
    font-size: 40%;
}

/* Кнопки
-----------------------------------------------------------------------------*/
.knopka01 {
    margin: 4px;
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2), 0 -1px rgba(0, 0, 0, 0.8);
    outline: none;
    border: none;
    border-radius: 5px;
    /* background: rgb(66, 98, 133) radial-gradient(150% 100% at 50% 5px,
            rgba(255, 255, 255, 0.2),
            rgba(0, 0, 0, 0)); */
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -2px 5px,
        inset rgba(252, 255, 255, 0.7) 0 2px 5px,
        rgba(0, 0, 0, 0.8) 0 2px 5px -1px;
    /* color: rgb(30, 52, 69); */
    color: #99b7d3;
    user-select: none;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    transition: 0.5s;
}

.knopka01:hover {
    background-color: #cb541e;
    color: black;
    cursor: pointer;
}

.knopka01:active {
    padding-bottom: 1px;
    box-shadow: inset rgba(0, 0, 0, 1) 0 1px 3px,
        inset rgba(0, 0, 0, 0.6) 0 -2px 5px,
        inset rgba(252, 255, 255, 0.7) 0 2px 5px,
        0 1px rgba(255, 255, 255, 0.08);
    background-color: #cb541e;
}

.tag_count {
    font-size: small;
    color: #cb541e;
    text-align: right;
}

/*---------------------------------------------*/
.knopka02 {
    margin: 5px;
    display: inline-block;
    /* width: 120px; */
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2), 0 -1px rgba(0, 0, 0, 0.8);
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(66, 98, 133) radial-gradient(150% 100% at 50% 5px,
            rgba(255, 255, 255, 0.2),
            rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -2px 5px,
        inset rgba(252, 255, 255, 0.7) 0 2px 5px,
        rgba(0, 0, 0, 0.8) 0 2px 5px -1px;
    color: rgb(30, 52, 69);
    user-select: none;
    /* -webkit-transform: skewX(-10deg); */
    /* transform: skewX(-10deg); */
    transition: 0.5s;
}

.knopka02:hover {
    background-color: #cb541e;
    color: black;
    cursor: pointer;
}

.knopka02:active {
    padding-bottom: 1px;
    box-shadow: inset rgba(0, 0, 0, 1) 0 1px 3px,
        inset rgba(0, 0, 0, 0.6) 0 -2px 5px,
        inset rgba(252, 255, 255, 0.7) 0 2px 5px,
        0 1px rgba(255, 255, 255, 0.08);
    background-color: #cb541e;
}

/*---------------------------------------------*/
.search {
    position: relative;
    z-index: 1;
    color: #99b7d3;
    text-decoration: none;
    padding: 0.25em 0.8em;
    margin-right: 80px;
    height: 36px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 40px;
}

.search:after {
    content: "Поиск";
    position: absolute;
    z-index: -1;
    top: -2px;
    bottom: -2px;
    left: 8px;
    width: calc(85% + 7 * (1em * 90 / 140) - 2px * 2 * 2);
    /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
    text-align: right;
    color: #fff;
    font-size: 100%;
    padding: 0.25em 0.6em;
    border-radius: 5px;
    border: 2px solid #cb541e;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    /* background: linear-gradient(rgba(203, 84, 30, 0.55), #cb541e) no-repeat 100% 0; */
    background-size: calc(5 * (1em * 90 / 135) + 0.5em) 100%;
    box-shadow: inset calc(-8 * (1em * 90 / 135) + 0.5em) 0 rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.search:hover:after {
    box-shadow: inset calc(-9 * (1em * 90 / 135) - 0.5em) 0 rgba(255, 255, 255, 0.2);
}

.search:active:after {
    background-image: linear-gradient(#cb541e, rgba(203, 84, 30, 0.55));
}

.search input {
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
}

@media (min-width: 768px) {
    .search:after {
        /* content: "Поиск"; */
        /* здесь 9 букв */
        position: absolute;
        z-index: -1;
        top: -2px;
        bottom: -2px;
        left: 8px;
        width: calc(85% + 7 * (1em * 90 / 140) - 2px * 2 * 2);
        /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
        text-align: right;
        color: #fff;
        font-size: 100%;
        padding: 0.25em 0.6em;
        border-radius: 5px;
        border: 2px solid #cb541e;
        -webkit-transform: skewX(-10deg);
        transform: skewX(-10deg);
        background: linear-gradient(rgba(203, 84, 30, 0.55), #cb541e) no-repeat 100% 0;
        background-size: calc(5 * (1em * 90 / 135) + 0.5em) 100%;
        box-shadow: inset calc(-8 * (1em * 90 / 135) + 0.5em) 0 rgba(255, 255, 255, 0);
        transition: 0.3s;
    }
}


/*---------------------------------------------*/

.button {
    transition: 0.5s;
    text-align: center;
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0.05),
            hsla(0, 0%, 0%, 0.1));
    background-image: -moz-linear-gradient(hsla(0, 0%, 100%, 0.05),
            hsla(0, 0%, 0%, 0.1));
    background-image: -ms-linear-gradient(hsla(0, 0%, 100%, 0.05),
            hsla(0, 0%, 0%, 0.1));
    background-image: -o-linear-gradient(hsla(0, 0%, 100%, 0.05),
            hsla(0, 0%, 0%, 0.1));
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.05),
            hsla(0, 0%, 0%, 0.1));
    border: none;
    border-radius: 0.5em;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.2),
        inset 0 2px 0 hsla(0, 0%, 100%, 0.1),
        inset 0 1.2em 0 hsla(0, 0%, 100%, 0.1),
        inset 0 -0.2em 0 hsla(0, 0%, 100%, 0.1),
        inset 0 -0.25em 0 hsla(0, 0%, 0%, 0.25),
        0 0.25em 0.25em hsla(0, 0%, 0%, 0.05);
    color: #d2d2d2;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1.5em 0.5em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.25);
    vertical-align: middle;
    margin: 5px 10px 5px 0;
}

.button:hover {
    outline: none;
}

.button:hover,
.button:focus {
    background-color: #cb541e;
    color: black;
}

.button:active {
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.2),
        inset 0 2px 0 hsla(0, 0%, 100%, 0.1),
        inset 0 1.2em 0 hsla(0, 0%, 100%, 0.1),
        inset 0 0 0 3em hsla(0, 0%, 100%, 0.2),
        inset 0 0.25em 0.5em hsla(0, 0%, 0%, 0.05),
        0 -1px 1px hsla(0, 0%, 0%, 0.1), 0 1px 1px hsla(0, 0%, 100%, 0.25);
    margin-top: 0.25em;
    outline: none;
    padding-bottom: 0.5em;
}

.card_body {
    background-color: #2f3238;
    border-radius: 4px;
}

.article-title {
    color: #99b7d3;
}

ul > li {
    text-decoration: none;
}

.article-card > h2 {
    margin-top: 40px;
    margin-bottom: 4px;
}
.article-date {
    font-size: 0.9rem;
    margin-top: -12px;
}

.rubric-title h2 {
    margin-top: 0px;
}

li {
    list-style-type: none;
}

/* Эффект 5: смена */
h2 a {
    position: relative;
    display: inline-block;
    /* margin: 15px 25px; */
    outline: none;
    color: #fff;
    text-decoration: none;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1em;
}

.reverse-effect a {
    overflow: hidden;
    /* padding: 0 4px;
    height: 1em; */
    font-size: 1.5em;
}

.reverse-effect a div {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.reverse-effect a div::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    /* font-weight: 700; */
    color: #cb541e;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.reverse-effect a:hover div,
.reverse-effect a:focus div {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.menu_list li {
    display: inline;
}

/* ------------------------------------------ */
.button_01 {
    transition: 0.5s;
        text-align: center;
        background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0.05),
                hsla(0, 0%, 0%, 0.1));
        background-image: -moz-linear-gradient(hsla(0, 0%, 100%, 0.05),
                hsla(0, 0%, 0%, 0.1));
        background-image: -ms-linear-gradient(hsla(0, 0%, 100%, 0.05),
                hsla(0, 0%, 0%, 0.1));
        background-image: -o-linear-gradient(hsla(0, 0%, 100%, 0.05),
                hsla(0, 0%, 0%, 0.1));
        background-image: linear-gradient(hsla(0, 0%, 100%, 0.05),
                hsla(0, 0%, 0%, 0.1));
        border: none;
        border-radius: 0.5em;
        box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.2),
            inset 0 2px 0 hsla(0, 0%, 100%, 0.1),
            inset 0 1.2em 0 hsla(0, 0%, 100%, 0.1),
            inset 0 -0.2em 0 hsla(0, 0%, 100%, 0.1),
            inset 0 -0.25em 0 hsla(0, 0%, 0%, 0.25),
            0 0.25em 0.25em hsla(0, 0%, 0%, 0.05);
        color: #d2d2d2;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 1em;
        font-weight: bold;
        padding: 0.5em 1.5em 0.5em;
        position: relative;
        text-decoration: none;
        text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.25);
        vertical-align: middle;
        margin: 5px 10px 5px 0;
}

.button_01:hover {
    outline: none;
}

.button_01:hover,
.button_01:focus {
    background-color: #cb541e;
    color: black;
}

.button_01:active {
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.2),
        inset 0 2px 0 hsla(0, 0%, 100%, 0.1),
        inset 0 1.2em 0 hsla(0, 0%, 100%, 0.1),
        inset 0 0 0 3em hsla(0, 0%, 100%, 0.2),
        inset 0 0.25em 0.5em hsla(0, 0%, 0%, 0.05),
        0 -1px 1px hsla(0, 0%, 0%, 0.1), 0 1px 1px hsla(0, 0%, 100%, 0.25);
    margin-top: 0.25em;
    outline: none;
    padding-bottom: 0.5em;
}
/* ------------------------------------------ */

.logo:hover {
    color: #99b7d3;
}

.nav_list {
    margin-top: 15px;
}

.search_2 a {
    height: 30px;
}

.button-search {
    background-color: #99b7d3;
    width: 30px;
    height: 30px;
}

.pagination {
    margin: 50px auto;
}
