// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// my variables
$background-color: #eee;
$invalid-feedback-color: red;
$text-color: #333;

$link-color: #5d92b7;
$hover-link-color: chocolate;

$alert-success-color: #155724;
$alert-success-background-color: #d4edda;

$alert-error-color: #721c24;
$alert-error-background-color: #f8d7da;
