/*@import url(style.css);*/

// Variables
@import '../css/normalize.css';

@import 'variables';

/*basic CSS*/
html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a.user_name {
    pointer-events: none;
    color: $hover-link-color;
}

h1 {
    // font-size: 23px;
}

h3 {
    margin-top: 0px;
}

h1, h2, h3, h4, h5 {
    font-family: arial,sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: left;
}

code {
    word-wrap: break-word;
    color: #e83e8c;
    font-size: .875em;
}

pre {
    background: #eee;
    padding: 10px;
    margin-top: -8px;
    border-radius: 5px;

    code {
        word-wrap: break-word;
        color: inherit;
        font-size: .875em;
    }
}

.hr-lines {
    margin: 20px 0;
        padding: 0;
        height: 10px;
        border: none;
        color: $hover-link-color;
        background-image: linear-gradient(90deg, $hover-link-color, $hover-link-color 33.33%, transparent 33.33%, transparent 100%);
        background-size: 3px 100%;
}

/* END basic CSS*/

.main_block {
    max-width: 1170;
    margin: 0px auto;
    padding: 0px 15px;
}

@media (max-widht: 1200px) {
    .wrap {
        max-width: 970px;
    }
}
@media (max-widht: 992px) {
    .wrap {
        max-width: 750px;
    }
}
@media (max-widht: 767px) {
    .wrap {
        max-width: 320;
    }
}
@media (max-widht: 350px) {
    .wrap {
        max-width: none;
    }
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.nav_wrap {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
}

nav .nav_wrap {
    position: relative;
    margin-top: 2em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.menu li a {
    display: inline-block;
    padding: 10px 15px;
}

.menuToggle {
    padding: 10px 15px;
    display: none;
    cursor: pointer;
    color: $link-color;
}

#menuCheck {
    display: none;
}

.wrap {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 30%;
}

@media screen and (max-width: 900px) {
    html,
    body {
        font-size: 12px;
    }
    .wrap {
        padding: 0;
        grid-template-columns: none;
    }
    .menu {
        display: none;
        position: absolute;
        background: $background-color;
    }

    .menu li {
        float: none;
    }

    .menuToggle {
        display: inline-block;
    }

    #menuCheck:checked + .menu {
        display: block;
    }

    #menuCheck:checked {
        transition: 1s;
    }
}
.left_block {
    padding: 1em;
    padding-right: 2em;
}
.right_block {
    padding: 1em;
    padding-right: 0;
}
hr {
    max-width: 1170px;
}
.logo {
    text-align: center;
}
.sub_logo {
    font-size: 12px;
}
.link,
.category_link,
.continue_read {
    color: $link-color;
}
.link:hover,
.category_link:hover,
.continue_read:hover {
    color: $hover-link-color;
}

.article_id {
    color: $hover-link-color;
}
.publication_date {
    text-align: center;
    margin-bottom: 0.8em;
    margin-top: -10px;
    font-size: 0.8em;
}
.category_link {
    margin-bottom: 0.8em;
}
.footer {
    margin: 24px auto;
    padding-bottom: 15px;
    max-width: 1170px;
    text-align: center;
}
.made_in {
    padding-top: 8px;
}

.tag {
    margin-bottom: 5px;
}
.tag_title {
    color: $hover-link-color;
}
.wrap_img {
    overflow: hidden;
}

.wrap_img img {
    max-width: 100%;
    object-fit: contain;
}
.align-left {
    float: left !important;
}
.align-rigt {
    float: rigt !important;
}
.article_card li {
    margin: 0.05em;
    margin-left: 0.8em;
    padding: 0.05em;
    list-style-type:disc;
}
.article_card ul {
    padding-left: 20px;
    margin-bottom: 15px;
}
.left_block h2, .left_block h3, .left_block h4 {
    margin-top: 40px;    
    // text-align: center;
}
.article_card_index {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
}

.submit {
    margin-top: 5px;
}
.form-group {
    margin-top: 10px;
}

ul.pagination {
    clear: both;
    font-size: 0;
    line-height: 1.4;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}
ul.pagination li a {
    text-decoration: underline;
}
ul.pagination li a,
ul.pagination li span {
    background: $background-color;
    color: $text-color;
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
}
ul.pagination li {
    display: inline-block;
    font-size: 13px;
    margin: 0;
    padding: 0 2px;
}
textarea {
    width: 100%;
}
.textwrapper {
    margin: 5px 0;
    padding: 3px;
}
.invalid-feedback {
    color: $invalid-feedback-color;
}

.star {
    color: $invalid-feedback-color;
}
input.contact {
    width: 100%;
}

.comment_user {
    text-align: center;
}

.comments > h3 {
    text-align: center;
}

.pageTitle, .article_title {    
    font-size: 1.5em;
    margin-top: 0px !important;
    text-align: center;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.category_block > h3, #tags {
    text-align: center;
}

.tags_link {
    margin-left: 10px;
}

.error-page {
    text-align: center;
}

.error-title {
    text-align: center;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: $alert-success-color;
    background-color: $alert-success-background-color;
    border-color: $alert-success-background-color;
}

.alert-error {
    color: $alert-error-color;
    background-color: $alert-error-background-color;
    border-color: $alert-error-background-color;
}

.search_submit {
    color: $link-color;
}

