/*@import url(style.css);*/

/*basic CSS*/
html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* .nav_wrap {
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
} */
/* END basic CSS*/

.main_block {
    max-width: 1170;
    margin: 0px auto;
    padding: 0px 15px;
}

@media (max-widht: 1200px) {
    .wrap {
        max-width: 970px;
    }
}
@media (max-widht: 992px) {
    .wrap {
        max-width: 750px;
    }
}
@media (max-widht: 767px) {
    .wrap {
        max-width: none;
    }
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.nav_wrap {
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
}

nav {
    /* background: #eee; */
}

nav .nav_wrap {
    position: relative;
    margin-top: 2em;
}

.menu {
}

.menu li {
    float: left;
}

.menu li a {
    display: inline-block;
    padding: 10px 15px;
}

.menuToggle {
    padding: 10px 15px;
    display: none;
    cursor: pointer;
    color: #5d92b7;
}

#menuCheck {
    display: none;
}

.wrap {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 68% 2% 30%; */
    grid-template-columns: 70% 30%;
}

@media screen and (max-width: 750px) {
    html,
    body {
        font-size: 12px;
    }
    .wrap {
        padding: 0;
        grid-template-columns: none;
    }
    .menu {
        display: none;
        position: absolute;
        background: #eee;
    }

    .menu li {
        float: none;
    }

    .menuToggle {
        display: inline-block;
    }

    #menuCheck:checked + .menu {
        display: block;
    }

    #menuCheck:checked {
        transition: 1s;
    }
}
.left_block {
    padding: 1em;
    padding-right: 2em;
    /* background-color: aqua; */
}
.right_block {
    padding: 1em;
    padding-right: 0;
    /* background-color: blue; */
}
hr {
    max-width: 1170px;
}
.sub_logo {
    font-size: 12px;
}
.link,
.category_link,
.continue_read {
    color: #5d92b7;
}
.link:hover,
.category_link:hover,
.continue_read:hover {
    color: chocolate;
}
/* .hr {
    padding-top: 1em;
    padding-bottom: 1em;
} */
.publication_date {
    margin-bottom: 0.8em;
    font-size: 0.8em;
}
.category_link {
    margin-bottom: 0.8em;
    list-style-type: circle;
}
.footer {
    margin: 24px auto;
    padding-bottom: 15px;
    max-width: 1170px;
    text-align: center;
}
.made_in {
    padding-top: 8px;
}

.tags_list {
}
.tag {
    margin-bottom: 5px;
}
