body {
    border: 2px;
    border-color: aqua;
}
header {
    border-color: rgb(47, 0, 255);
}
main {
    border-color: rgb(255, 102, 0);
}
section {
    border-color: rgb(0, 255, 85);
}
footer {
    border-color: rgb(255, 0, 221);
}

html,
body {
    /* height: 100%;
    margin: 0; */
    /* font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; */
}
